Flask==0.10.1
Werkzeug==0.9.4
Jinja2==2.7.2
itsdangerous==0.24
MarkupSafe==0.19

Flask-SQLAlchemy==1.0
SQLAlchemy==0.9.4

Flask-WTF==0.10.0
WTForms==2.0.1

Flask-Login==0.2.11

Flask-Script==2.0.5

Flask-SimpleLDAP==0.1.1

tabulate==0.7.3

